# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SDK dumps
PUBG SDK/*
!PUBG SDK/.gitkeep
!PUBG SDK/readme.txt

# JSON assets
input/*
!input/.gitkeep
!input/readme.txt

# Environments & IDEs
.vscode/
.idea/
*.swp
*.swo
.venv/
venv/
ENV/
